#m_v{
	border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
border: 2px solid #008080;

-webkit-box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.75);
box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.75);
 text-align:justify;
}